body {
    background-color: #303030;
}

table {
    border-collapse: collapse;
    background-color: white;
}

table tr td {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}

table thead tr th {
    background-color: red;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.flex {
    width: 100%;
    display: flex;
    justify-content: center;
}

.flex>* {
    margin-left: 5%;
    margin-right: 5%;
}

.forms {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form {
    background-color: gainsboro;
    border: 3px solid brown;
    padding: 10%;
}

form>* {
    width: 100%;
}

form label {
    font-weight: bold;
}

form input[type="submit"] {
    margin-top: 10px;
    margin-bottom: 10px;
}

.event {
    background-color: burlywood;
    cursor: context-menu;
}